@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

.preloader {
    height: 100%;
    width: 100%;
    background: #212121;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    perspective: 1600px;
    perspective-origin: 20% 50%;
    transition: 0.5s all;
    opacity: 1;
    }
    
.spinner {
    width: 550px;
    height: 550px;
    position: absolute;
    background: url(../media/kazami.png);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spinning 3s infinite linear;
}
    
.preloader.fade {
    opacity: 0
}
    
@keyframes spinning {
    0%   {top: 0px; background: url(../media/loading.png)}
    100% {top: 0px; background: url(../media/loading.png)}
}
    
@keyframes comeUp {
    from {
        opacity: 0;
        bottom: -50px;
    }
}

@keyframes ico {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scrollbar-color: #353535 transparent;
    scrollbar-width: thin;
}

body{-webkit-user-select:none;-moz-user-select:-moz-none;
    -ms-user-select:none;user-select:none}

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--scrollbar);
    cursor: pointer;
}
    
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    height: 12px;
    background-clip: padding-box;
}
    
::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover);
}
    
::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-active);
}

body{
    font-family: 'Poppins', sans-serif;
    background: #212121;
    font-weight: 100;
}

.main-wrap{
    display: grid;
    place-items: center;
    align-content: center;
}

.page-wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error{
    position: absolute;
}

img{
    font-weight: 900;
    opacity: 100%;
    position: relative;
    height: 45vh;
}

h2{
    position: relative;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 76px;
    line-height: 58px;
    text-align: center;
}

h3{
    position: relative;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    padding-bottom: 25px;
    width: 750px;
}

.button{ 
    display: inline-block;
    padding: 18.5px 32px;
    background-color: #344CA4;
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
    font-size: 24px;
    border-radius: 10px;
    transition: all .3s linear;
}

.button:hover{
    transform: scale(1.1);
}

.huh{
    height: 75px;
}

.main-text{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding-bottom: 1%;
}

.quadrado{
    position: relative;
    display: inline-block;
}

.quadrado .tooltiptext {
    bottom: 105%;
    left: 50%;
    margin-left: -75px; /* Use half of the width (120/2 = 60), to center the tooltip */
    visibility: hidden;
    width: 150px;
    background-color: #101010;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    transition: all .15s ease-in-out;
    animation: commingdown .15s ease-in-out;
    font-size: 15px;
}
  
.quadrado:hover .tooltiptext {
    visibility: visible;
    animation: commingup .15s ease-in-out;
}
  
.quadrado .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #101010 transparent transparent transparent;
}
  
@keyframes commingup {
    from{
        bottom: 90%;
        opacity: 0;
    }
    to{
        bottom: 105%;
        opacity: 1;
    }
  }
  
@keyframes commingdown {
    from{
      bottom: 105%;
      opacity: 1;
    }
    to{
      bottom: 90%;
      opacity: 0;
    }
}

@media only screen and (max-width: 1200px) {
    img{
        opacity: 100%;
        position: relative;
        height: 30vh;
    }
    .main-text{
        padding-bottom: 0.5%;
    }
    h2{
        font-size: 48px;
    }
    h3{
        width: 500px;
    }
    .button{
        font-size: 18px;
    }

}

@media only screen and (max-width: 850px) {
    img{
        opacity: 100%;
        position: relative;
        height: 20vh;
    }
    .main-text{
        padding-bottom: 0.5%;
    }
    h2{
        font-size: 48px;
    }
    h3{
        width: 500px;
    }
    .button{
        font-size: 18px;
    }

}

@media only screen and (max-width: 600px) {
    img{
        opacity: 100%;
        position: relative;
        height: 15vh;
    }
    .main-text{
        padding-bottom: 0.2%;
    }
    h2{
        font-size: 36px;
    }
    h3{
        width: 400px;
    }
    .button{
        font-size: 18px;
        padding: 10.5px 22px;
    }

}

@media only screen and (max-width: 280px) {
    img{
        opacity: 100%;
        position: relative;
        height: 15vh;
    }
    .main-text{
        padding-bottom: 0.2%;
    }
    h2{
        font-size: 24px;
    }
    .quadrado{
        width: 40px;
        height: 40px;
    }
    .huh{
        width: 40px;
        height: 40px;
    }
    h3{
        width: 200px;
        font-size: 12px;
    }
    .button{
        font-size: 18px;
        padding: 7.5px 12px;
    }

}