    html,
    body {
    height: 100%;
    }

    body {
    overflow: hidden;
    }

    .preloader {
        height: 100%;
        width: 100%;
        background: var(--preloader);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10000;
        perspective: 1600px;
        perspective-origin: 20% 50%;
        transition: 0.5s all;
        opacity: 1;
        }
        
    .spinner {
        width: 550px;
        height: 550px;
        position: absolute;
        background: url(../media/kazami.png);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        animation: spinning 3s infinite linear;
    }
        
    .preloader.fade {
        opacity: 0
    }
        
    @keyframes spinning {
        0%   {top: 0px; background: url(../media/loading.png)}
        100% {top: 0px; background: url(../media/loading.png)}
    }
        
    @keyframes comeUp {
        from {
            opacity: 0;
            bottom: -50px;
        }
    }

    @keyframes ico {
        from {
            transform: rotateY(0);
        }
        to {
            transform: rotateY(360deg);
        }
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        scrollbar-color: #353535 transparent;
        scrollbar-width: thin;
    }

    ::-webkit-scrollbar {
        width: 12px;
        background-color: var(--scrollbar);
        cursor: pointer;
    }
        
    ::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb);
        height: 12px;
        background-clip: padding-box;
    }
        
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--scrollbar-hover);
    }
        
    ::-webkit-scrollbar-thumb:active {
        background-color: var(--scrollbar-active);
    }

    body{
        font-size: 100%;
        background: #202020;
    }

    .main-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100px;
        background: #101010;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    }

    .header-menu{
        display: flex;
        gap: 30px;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        align-items: center;
    }

    .header-menu-item{
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 26px;
        transition: all .3s linear;
    }

    .header-menu-item:hover{
        font-family: 'Roboto', sans-serif;
        color: #344CA4;
        font-weight: 400;
        font-size: 26px;
        transition: .3s;
    }

    .header-menu-item1{
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 24px;
        display: inline-block;
        justify-content: center;
        height: 50px;
        width: 250px;
        background: #344CA4;
        display: flex;
        align-items: center;
        border-radius: 7px;
        cursor: pointer;
        transition: all .3s linear;
    }

    .header-menu-item1 i {
        top: 3px;
        font-size: 125%;
        margin: 0 10px 0 0;
        position: relative;
    }

    .header-menu-item1:hover{
        transform: scale(1.1);
    }

    .header-menu-item2{
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 24px;
        display: inline-block;
        justify-content: center;
        height: 50px;
        width: 150px;
        background: #F13636;
        display: flex;
        align-items: center;
        border-radius: 7px;
        cursor: pointer;
        transition: all .3s linear;
    }

    .header-menu-item2 i {
        top: 3px;
        font-size: 125%;
        margin: 0 4px 0 0;
        position: relative;
    }

    .header-menu-item2:hover{
        transform: scale(1.1);
    }

    .header-menu-logo{
        position: absolute;
        height: 165px;
        width: 165px;
        border-radius: 50%;
    }

    .header-menu-logo-main{
        position: absolute;
        left: 48%;
        top: 5px;
    }

    .header-menu-logo{
        box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, .5);
        border: 15px solid #101010;
    }

    .align{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .circle{
        height: 800px;
        width: 800px;
        border-radius: 50%;
        top: 30%;
        background: linear-gradient(#313247 0%, #202020 35%);
        position: absolute;
        animation: commingup2 1s ease-in-out;
    }

    @keyframes commingup2 {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    .circle::before{
        content: '';
        height: 800px;
        width: 800px;
        background: linear-gradient(#344CA4 0%, #7289DA 30%, #202020 45%);
        border-radius: 50%;
        position: absolute;
        animation: commingup 1s ease-in-out;
        top: -53%;
        left: 50%;
        transform: translate(-50%, 50%);
        -webkit-filter: blur(7px);
        z-index: -1;
    }

    @keyframes commingup {
        from{
            top: -50%;
            opacity: 0;
        }
        to{
            opacity: 1;
            top: -53%;
        }
    }

    .circle::after{
        width: 815px;
        top: -56%;
        -webkit-filter: blur(15px);
        opacity: .3;
    }

    .msg{
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        color: #FFFFFF;
        letter-spacing: 70px;
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 900;
        text-align: center;
        transition: all 4s ease-in-out;
        width: max-content;
    }

    .msg:hover{
        font: 40px;
        letter-spacing: 75px;
    }

    .spinner-box{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        top: -18%;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .spinhehe{
        width: 1920px;
        height: 1080px;
        -webkit-mask-image: linear-gradient(to bottom, black 25%, transparent 55%);
        mask-image: linear-gradient(to bottom, black 25%, transparent 55%);
    }

    .orbita{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .orbit1{
        width: 900px;
        height: 900px;
        animation: spin 25s linear 0s infinite;
    }

    .orbit2{
        width: 720px;
        height: 720px;
        animation: spin 25s linear 0s infinite;
    }

    .planet1{
        width: 20px;
        height: 20px;
        background-color: #7289DA;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        z-index: 1;
    }

    .planet2{
        width: 20px;
        height: 20px;
        background-color: #344CA4;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        z-index: 1;
    }

    @keyframes spin{
        from{transform: rotate(0);}
        to{transform: rotate(359deg);}
    }

    .butons{
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        gap: 25px;
    }

    .header-menu-item3{
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 24px;
        display: inline-block;
        justify-content: center;
        height: 50px;
        width: 250px;
        background: #344CA4;
        display: flex;
        align-items: center;
        border-radius: 7px;
        cursor: pointer;
        transition: all .3s linear;
        z-index: 100000;
    }

    .header-menu-item3 i {
        top: 3px;
        font-size: 125%;
        margin: 0 10px 0 0;
        position: relative;
        z-index: 100000;
    }

    .header-menu-item3:hover{
        transform: scale(1.1);
        z-index: 100000;
    }

    .header-menu-item4{
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 24px;
        display: inline-block;
        justify-content: center;
        height: 50px;
        width: 250px;
        background: #7289DA;
        display: flex;
        align-items: center;
        border-radius: 7px;
        cursor: pointer;
        transition: all .3s linear;
        z-index: 100000;
    }

    .header-menu-item4 i {
        top: 3px;
        font-size: 125%;
        margin: 0 4px 0 0;
        position: relative;
        z-index: 100000;
    }

    .header-menu-item4:hover{
        transform: scale(1.1);
        z-index: 100000;
    }

    .footer{
        position: absolute;
        bottom: 0;
        background: #101010;
        width: 100%;
        padding: 26px 0;
        margin-top: 150px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }

    .container{
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }

    .footer p a {
        color: #344ca4;
        text-decoration: none;
    }

    .footer p {
        margin: 0;
        line-height: 22px;
        font-size: 15px;
        color: #777;
    }